isaacsim[all,extscache]==5.0.0
isaaclab[isaacsim,all]==2.2.0


setuptools
wheel
numpy==1.26.0
smplx==0.1.28
hydra-core==1.3.2
easydict
tqdm
open3d
lxml
ray
ipdb
joblib
scipy
jupyter
loguru
tensorboard
mujoco
mink
dm_control
loop_rate_limiters
qpsolvers[quadprog,proxqp]
accelerate
tabulate
matplotlib
pandas
termcolor
rich
pytorch-tcn
einops
onnxruntime-gpu==1.23.2
onnx
pre-commit
ruff
pytest
imageio>=2.9
imageio-ffmpeg
opencv-python
natsort
psutil
redis[hiredis]
chumpy
pyvirtualdisplay
pynput
xxhash
h5py>=3.8
newton==1.0.0
--extra-index-url https://pypi.nvidia.com
warp-lang==1.12.0
pygame
tensordict==0.11.0
pytorch_kinematics
onnxscript

# human_body_prior 依赖
human-body-prior
