*.ipynb filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
assets/smplx filter=lfs diff=lfs merge=lfs -text
assets/smpl filter=lfs diff=lfs merge=lfs -text
assets/test_data filter=lfs diff=lfs merge=lfs -text
assets/media/*.png filter=lfs diff=lfs merge=lfs -text
assets/media/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/media/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
assets/media/holomotion_logo_text.jpg -filter -diff -merge -text
assets/media/holomotion_overview.jpg -filter -diff -merge -text
assets/media/holomotion_pipeline.jpg -filter -diff -merge -text
assets/media/holomotion_roadmap.jpg -filter -diff -merge -text
assets/media/qr_codes.jpg -filter -diff -merge -text
assets/media/holosmpl_capture_sources.jpg -filter -diff -merge -text
