[submodule "thirdparties/SMPLSim"]
path = thirdparties/SMPLSim
url = https://github.com/ZhengyiLuo/SMPLSim
branch = master

[submodule "thirdparties/joints2smpl"]
path = thirdparties/joints2smpl
url = https://github.com/wangsen1312/joints2smpl.git
branch = main

[submodule "thirdparties/omomo_release"]
path = thirdparties/omomo_release
url = https://github.com/lijiaman/omomo_release.git
branch = main

[submodule "thirdparties/unitree_ros"]
path = thirdparties/unitree_ros
url = https://github.com/unitreerobotics/unitree_ros
branch = master

[submodule "thirdparties/unitree_ros2"]
path = thirdparties/unitree_ros2
url = https://github.com/unitreerobotics/unitree_ros2
branch = master

[submodule "thirdparties/unitree_sdk2_python"]
path = thirdparties/unitree_sdk2_python
url = https://github.com/unitreerobotics/unitree_sdk2_python.git

[submodule "thirdparties/cyclonedds"]
path = thirdparties/cyclonedds
url = https://github.com/eclipse-cyclonedds/cyclonedds
branch = 0.10.2

[submodule "thirdparties/unitree_sdk2"]
path = thirdparties/unitree_sdk2
url = https://github.com/unitreerobotics/unitree_sdk2.git

[submodule "thirdparties/HoloMotion_assets"]
path = thirdparties/HoloMotion_assets
url = https://huggingface.co/datasets/HorizonRobotics/HoloMotion_assets
[submodule "thirdparties/smplx"]
	path = thirdparties/smplx
	url = https://github.com/vchoutas/smplx
[submodule "thirdparties/GVHMR"]
	path = thirdparties/GVHMR
	url = https://github.com/zju3dv/GVHMR.git
