# ignore logs and cache
logs/
logs_eval/
data/
outputs/
.archive/
tmp/
logs_smoke/

# ignore deployment bag_record, install, log
deployment/unitree_g1_ros2/bag_record/
deployment/unitree_g1_ros2/install/
deployment/unitree_g1_ros2/log/

# ignore data and outputs
data
data/
outputs/
build/
install/
log/
.DS_Store/
**.egg-info/
**.log
**.LOG

# ignore large files
*.log
*.pkl
*.pt
*.onnx
*.npy
*.npz
*.zip
*.tar.gz

*.obj
*.dae
*.STL

# ignore video, image, etc.
*.mp4
*.avi
*.mov
*.png
*.pdf

__pycache__/
*.pyc
*.egg-info

.agents/*
!.agents/skills/
!.agents/skills/**
.codex
.codex/
.cursor/
.cursorignore
.vscode/

.*_cache/

**/usd/
assets/isaac/

not_for_commit/

thirdparties/smpl_models/

MUJOCO_LOG.TXT

# allow certain files
!deployment/unitree_g1_ros2/src/models/*.onnx
!deployment/unitree_g1_ros2/src/motion_data/*.pkl
!assets/smpl/*.pkl
!assets/smpl/*.npz
!assets/smplx/*.pkl
!assets/smplx/*.npz
!assets/test_data/**
!assets/media/**

# macOS system files
.DS_Store
**/.DS_Store
